<nav id="navigation">
  <ul id="menu">
    <li id="Mauris">  <a href="index.html"> Mauris </a></li>
    <li id="Cras">    <a href="page1.html"> Cras </a></li>
    <li id="Proin">   <a href="page2.html"> Proin </a></li>
    <li id="Integer"> <a href="page3.html"> Integer </a></li>
  </ul>
</nav>

<script>
  $("#<%=id%>").addClass("current");
</script>