<header id="header">
  <h1>
    Page I
  </h1>  
</header>

<%- partial("includes/_nav.ejs", { id: "Mauris" }) %>

<main id="maincontent">
  <article id="primary">
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed feugiat nisi  
      at sapien. Phasellus varius tincidunt ligula. Praesent nisi. Duis  
      sollicitudin. Donec dignissim, est vel auctor blandit, ante est laoreet  
      neque, non pellentesque mauris turpis eu purus.
    </p>    
    <p>
      Suspendisse mollis leo nec diam. Vestibulum pulvinar tellus sit amet nulla  
      fringilla semper. Aenean aliquam, urna et accumsan sollicitudin, tellus  
      pede lobortis velit, nec placerat dolor pede nec nibh. Donec fringilla. Duis  
      adipiscing diam at enim. Vestibulum nibh.
    </p>  
    <p>
      Nulla facilisi. Aliquam dapibus leo eget leo. Etiam vitae turpis sit amet  
      massa posuere cursus. Sed vitae justo quis tortor facilisis ultrices.  
      Integer id erat. Donec at felis ut erat interdum vestibulum. Quisque et eros.  
      Donec fringilla, est in condimentum venenatis, tortor velit vehicula sem, in  
      elementum quam sapien eu lectus. In dolor urna, ullamcorper vel, tempor sit  
      amet, semper ut, felis. Praesent nisi.
    </p>  
  </article>

  <aside id="secondary">
    <p>
      Fusce scelerisque viverra quam. Nam urna. Nullam urna libero, euismod at,  
      euismod sit amet, porttitor ac, mauris.
    </p>  
    <p>
      Vestibulum interdum aliquet lacus. Vestibulum egestas. Fusce adipiscing  
      quam sed metus.
    </p>  
    <p>
      Nullam dignissim aliquam dui. Proin laoreet, elit sed pulvinar  
      sollicitudin, urna arcu fermentum felis, in rhoncus nunc neque vitae  
      libero.
    </p>
  </aside>
</main>

<%- partial("includes/_footer.ejs") %>
