<header id="header">
  <h1>
    Page IV
  </h1>  
</header>

<%- partial("includes/_nav.ejs", { id: "Integer" }) %>

<main id="maincontent">
  <article id="primary">
    <p>
      In sed rhoncus erat. Pellentesque vel turpis facilisis, fringilla ante non, auctor arcu. Sed convallis sapien nec felis consequat tristique id vel mauris. Ut aliquam nunc vitae pretium bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ultricies et massa vel iaculis. Fusce euismod sit amet nisi ac malesuada. 
    </p>
    <p>
      Sed pellentesque nisl rutrum urna condimentum, id ultrices mauris tincidunt. Vivamus porttitor metus ac lectus finibus luctus. Donec nec cursus turpis. Ut at orci turpis. Ut rutrum eros sed elementum aliquet. Aliquam turpis dui, pulvinar eget iaculis vitae, convallis vitae turpis. Phasellus velit odio, blandit sit amet metus ac, fermentum cursus velit. Nulla a odio odio. 
    </p>  
  </article>

  <aside id="secondary">
    <p>
      Integer sit amet nisi nec sem euismod rutrum porttitor eu nisi. Morbi arcu ipsum, placerat vitae diam id, finibus pulvinar ipsum. Nunc ac ex iaculis, eleifend elit id, finibus massa. 
    </p>
    <p>
      Vestibulum gravida, tortor ut laoreet interdum, turpis arcu molestie neque, at posuere neque elit vitae ligula. Etiam ut consectetur lectus. Phasellus commodo urna ut fermentum congue. Mauris vitae metus ut turpis ornare scelerisque. 
    </p>
  </aside>
</main>

<%- partial("includes/_footer.ejs") %>
