<header id="header">
  <h1>
    Page III
  </h1>  
</header>

<%- partial("includes/_nav.ejs", { id: "Proin" }) %>

<main id="maincontent">
  <article id="primary">
    <p>
      Sed vitae erat convallis, iaculis diam eu, accumsan elit. Nullam nunc lectus, convallis nec finibus at, feugiat in elit. Cras porta, lacus in pretium malesuada, nisl ipsum venenatis nulla, a tempus diam est a dolor. Nam quis metus aliquet, tempus quam vel, hendrerit mi. In sollicitudin est ultrices tempus rutrum. 
    </p>
    <p>
      Aliquam pharetra, erat sed euismod ullamcorper, ex sem pretium lectus, nec porttitor nisl lectus nec turpis. Suspendisse eu tristique turpis, ut consectetur libero. Praesent feugiat nulla enim, eu consequat nisi maximus vitae. Morbi facilisis aliquet felis. Curabitur ullamcorper sit amet lacus vitae scelerisque. Nullam enim est, imperdiet nec purus nec, tristique vestibulum lectus. Nullam vel nisl consectetur, luctus purus et, auctor lacus. Donec ut dictum justo. Cras sed justo tincidunt, tincidunt lacus non, suscipit ex.
    </p> 
  </article>
  <aside id="secondary">
    <p>
      Duis gravida at neque fringilla posuere. Curabitur a consectetur sem. Fusce massa lacus, porta ut congue eu, ultrices ut lorem. Nam tempor pretium faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </p>
    <p>
      Nullam vestibulum, erat sed sagittis volutpat, risus arcu dapibus mi, vitae rhoncus elit odio vel lectus. 
    </p>
  </aside>
</main>

<%- partial("includes/_footer.ejs") %>